

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  scroll-behavior:auto;
}

.body {
  font-family: 'Source Sans 3', sans-serif;
  /* Optional: Set other font properties like weight and style */
  font-weight: normal; /* Regular */
  font-style: normal; /* Normal */
}


.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}


.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.hidden-scrollbar {
  /* Set the container's overflow property to auto */
  overflow: auto;
  scrollbar-color: transparent transparent; /* Hide scrollbar color */
}
/* Optional: Set a custom width for the scrollbar */
.hidden-scrollbar::-webkit-scrollbar {
  width: 0px;
}

.scroll-container {
  overflow: auto;
}

/* Custom scrollbar container */
.scroll-container::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

/* Style the scrollbar track */
.scroll-container::-webkit-scrollbar-track {
  background-color: transparent; /* Track background color */
}

/* Style the scrollbar thumb */
.scroll-container::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Thumb color */
  border-radius: 6px; /* Round the corners of the thumb */
  transition: opacity 0.2s !important; /* Add a transition for fade-in effect */
  opacity: 0 !important ;/* Initially hide the scrollbar thumb */
}

/* Show the scrollbar thumb on hover */
.scroll-container:hover::-webkit-scrollbar-thumb {
  transition: opacity 0.2s;
  opacity: 1;
}